/* Write your CSS here */
.bg-container {
  background-color: #f9d423;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toss-container {
  height: 400px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toss-result-img {
  height: 100px;
  width: 100px;
}
.button {
  outline: none;
  height: 20px;
  width: 80px;
}
.para {
  display: flex;
  flex-direction: row;
}
.count {
  padding-left: 10px;
}
